<div class="service-content slideanim">
  <h3 class="mb-3">Effortless laundry services for busy lives</h3>   
  <p>At Zaiyna Laundry we are keen not to ensnare you into the everyday traffic and hassle of transport for your laundry needs. Therefore, every service offered through Zaiyna laundry is 
       entitled to FREE pick up and delivery to ANY location within Dubai**. Our flexible payment options enable you to choose a payment option of your choice (card/ cash). We offer remarkable services towards our clientele through: </p>
</div>

<div class="services-list slideanim text-center">
  <div class="container-fluid">
    <div class="col-xl-4 col-lg-4 float-left">
        <div class="icon-otr"><%= image_tag("icons/wash-fold.png") %></div>
    <h4>Wash & Dry</h4>    
    <p>Equipped with specialist laundry cleaning experts using imported machines and eco-friendly detergents for your fabric, we ensure that the top-notch quality </p>
    </div> 
  
    <div class="col-xl-4 col-lg-4 float-left">
      <div class="icon-otr"><%= image_tag("icons/press.png") %></div>
      <h4>Steam Ironing</h4>    
      <p>With the advent of fashion and modern technology, we are faced with a plethora of fabrics, most of which do not suit the conventional steam ironing technique.</p>
    </div>

      
    <div class="col-xl-4 col-lg-4 float-left">
      <div class="icon-otr"><%= image_tag("icons/dress.png") %></div>
      <h4>Dry Cleaning</h4>    
      <p>Our exemplary dry cleaning services with optimum temperature and steam control, guarantees that the vitality of your fabric remains the same.</p>
    </div>

      
    <div class="col-xl-4 col-lg-4 float-left">
      <div class="icon-otr"><%= image_tag("icons/press.png") %><</div>
      <h4>Folding & Starching</h4>    
      <p>Zaiyna’s folding and starching services leaves you very impressed with its texture and right amount of stiffness. Our folding experts strive for  </p>
    </div>

      
    <div class="col-xl-4 col-lg-4 float-left">
      <div class="icon-otr"><%= image_tag("icons/dress.png") %></div>
      <h4>Carpets, Curtains & Sofa</h4>    
      <p>Middle eastern regions are more susceptible to dust, which is why regular deep cleaning of carpets, curtains and sofas are essential to prevent allergies and various respiratory conditions.  </p>
    </div>

      
    <div class="col-xl-4 col-lg-4 float-left">
      <div class="icon-otr"><%= image_tag("icons/dress.png") %></div>
      <h4>Alterations</h4>    
      <p>Middle eastern regions are more susceptible to dust, which is why regular deep cleaning of carpets, curtains and sofas are essential to prevent allergies and various respiratory conditions.  </p>
    </div>
  </div>   
</div>
