<div class="banner-section">
  <div class="col-lg-7 col-xl-7 float-left">  
    <div class="item" data-aos="fade-left">
      <h1 class=" hero-content">The most convenient way to do <span>Laundry & Home Service</span></h1>
      <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu neque vitae ex egestas consectetur a 
        ut lectus.</p>
      <div class="tab-area w-100 float-left mt-2 aos-item__inner">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Pickup & Delivery</a>
          </li>
          <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-Prices" role="tab" aria-controls="pills-Prices" aria-selected="false">Prices</a>
          </li>
          <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-Location" role="tab" aria-controls="pills-Location" aria-selected="false">Location</a>
          </li>
          <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-Alteration" role="tab" aria-controls="pills-Alteration" aria-selected="false">Alteration</a>
          </li>
          <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-Cleaning" role="tab" aria-controls="pills-Cleaning" aria-selected="false">Shoe Cleaning</a>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

            <div class="time-slot">
              <a href="#" class="btn-time">Next 45 mins</a> <a href="#" class="btn-time">10.00-12.00</a> <span class="ellipsiss"><i class="fas fa-ellipsis-h"></i></span> <a href="#" class="btn-time">16.00-20.00</a>
              <a href="#" class="select-btn">See all <i class="fas fa-arrow-right"></i></a> 
            </div>
          </div>
          <div class="tab-pane fade" id="pills-Prices" role="tabpanel" aria-labelledby="pills-Prices-tab">
            <div class="pricing_filter">
              <div class="col-xl-5 col-lg-5 pl-0 mb-3">
                <div class="form-group">
                <input type="search" class="form-control" placeholder="Search here">
                </div>
              </div>
              <div class="row">
                <div class="col-xl-1 col-lg-1 col-1">
                  <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 pt-2 col-5">
                <h5 class="itemname">Shirt</h5>
                </div>
                <div class="col-xl-2 col-lg-2 pt-2 col-5">
                  <div class="qty">
                    <span class="minus">-</span>
                    <input type="number" class="countt" name="qty" value="1">
                    <span class="plus">+</span>
                  </div>    
                </div>
                <div class="col-xl-3 col-lg-3 col-7">
                  <div class="form-group">
                    <select class="form-control texttarea">
                      <option>Wash</option>
                      <option>Wash&Fold</option>
                    </select>
                  </div>
                </div>

                <div class="col-xl-2 col-lg-3 pt-2"> 
                  <div class="amount"><h5>Aed</h5><span>10</span></div>
                </div>
              </div> 
                
              <div class="row">
                <div class="col-xl-1 col-lg-1 col-1">
                  <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 pt-2 col-5">
                <h5 class="itemname">Pant</h5>
                </div>
                <div class="col-xl-2 col-lg-2 pt-2 col-5">
                  <div class="qty">
                    <span class="minus">-</span>
                    <input type="number" class="countt" name="qty" value="1">
                    <span class="plus">+</span>
                  </div>    
                </div>
                <div class="col-xl-3 col-lg-3 col-7">
                  <div class="form-group">
                     <select class="form-control texttarea">
                      <option>Wash&Fold</option>
                      <option>Wash</option>
                     </select>
                  </div>
                </div>

                <div class="col-xl-2 col-lg-3 pt-2"> 
                  <div class="amount"><h5>Aed</h5><span>10</span></div>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-1 col-lg-1 col-1">
                  <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 pt-2 col-5">
                  <h5 class="itemname">Shirt2</h5>
                </div>
                <div class="col-xl-2 col-lg-2 pt-2 col-5">
                  <div class="qty">
                    <span class="minus">-</span>
                    <input type="number" class="countt" name="qty" value="1">
                    <span class="plus">+</span>
                  </div>    
                </div>
                <div class="col-xl-3 col-lg-3 col-7">
                  <div class="form-group">
                    <select class="form-control texttarea">
                      <option>Wash</option>
                      <option>Wash&Fold</option>
                    </select>
                  </div>
                </div>

                <div class="col-xl-2 col-lg-3 pt-2"> 
                  <div class="amount"><h5>Aed</h5><span>10</span></div>
                </div>
              </div> 
                
              <div class="row">
                <div class="col-xl-1 col-lg-1 col-1">
                  <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 pt-2 col-5">
                  <h5 class="itemname">Pant</h5>
                </div>
                <div class="col-xl-2 col-lg-2 pt-2 col-5">
                  <div class="qty">
                    <span class="minus">-</span>
                    <input type="number" class="countt" name="qty" value="1">
                    <span class="plus">+</span>
                  </div>    
                </div>
                <div class="col-xl-3 col-lg-3 col-7">
                  <div class="form-group">
                    <select class="form-control texttarea">
                      <option>Wash&Fold</option>
                      <option>Wash</option>
                    </select>
                 </div>
                </div>

                <div class="col-xl-2 col-lg-3 pt-2"> 
                  <div class="amount"><h5>Aed</h5><span>10</span></div>
                </div>
              </div>
            </div>  
          </div>
        
        </div>   
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-xl-5 float-right">
    <div class="item" data-animation="slideInDown" data-animation-delay=".75s">
      <div class="banner-image"><%= image_tag("banner-img.jpg", alt:"zaiyna", class: "img-fluid") %>
      </div>
    </div>  
  </div>
</div>

<div class="container">
  <div class="item" data-aos="fade-up">
    <div class="pricing-section text-center slideanim">
      <span>Our pricing plan for you</span>
      <h2>No hidden charges choose your plan wisely</h2>
      <div class="plan-list">
        <div class="col-lg-3 col-xl-3 float-left">
          <div class="icon-otr"><%= image_tag("icons/wash-fold.png") %></div>
          <h3>Wash & fold</h3>
          <h4 class="price">45 Aed</h4>
          <p>All your laundry washed, dried and folded.</p>
          <a href="#">Check price</a>
        </div>

        <div class="col-lg-3 col-xl-3 float-left">
          <div class="icon-otr"><%= image_tag("icons/wash-press.png") %></div>
          <h3>Wash & press</h3>
          <h4 class="price">45 Aed</h4>
          <p>All your laundry washed, dried and folded.</p>
          <a href="#">Check price</a>
        </div>

        <div class="col-lg-3 col-xl-3 float-left">
          <div class="icon-otr"><%= image_tag("icons/press.png") %></div>
          <h3>Press only</h3>
          <h4 class="price">45 Aed</h4>
          <p>All your laundry washed, dried and folded.</p>
          <a href="#">Check price</a>
        </div>  
            
        <div class="col-lg-3 col-xl-3 float-left">
          <div class="icon-otr"><%= image_tag("icons/dress.png") %></div>
          <h3>Clean & press</h3>
          <h4 class="price">45 Aed</h4>
          <p>All your laundry washed, dried and folded.</p>
          <a href="#">Check price</a>
        </div>
      </div>
    </div>
  </div>

  <div class="feature-section slideanim">
    <span class="text-center">Why choose us</span>
    <h2 class="text-center">This is our main features</h2>   
   
    <div class="col-xl-6 col-lg-6 float-left">
      <div class="col-xl-6 col-lg-6 float-left padding-0 pr-1">
        <div class="col-xl-12 col-lg-12 flip-3d padding-0"> <figure><%= image_tag("img1.jpg", class: "img-fluid") %></figure> </div>  
        <div class="col-xl-12 col-lg-12 flip-3d padding-0"> <figure><%= image_tag("img3.jpg", class: "img-fluid") %></figure> </div>
      </div>
      <div class="col-xl-6 col-lg-6 float-left padding-0 pl-1 mt-4">
        <div class="col-xl-12 col-lg-12 flip-3d padding-0"> <figure><%= image_tag("img2.jpg", class: "img-fluid") %> </figure> </div>  
        <div class="col-xl-12 col-lg-12 flip-3d padding-0"> <figure> <%= image_tag("img4.jpg", class: "img-fluid") %></figure> </div>
      </div>
    </div> 

    <div class="col-xl-6 col-lg-6 float-left">
      <ul class="feature-content">
        <li><h3>Wash & Press</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
        <li><h3>No Hidden Cost</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
        <li><h3>Same day availability</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
        <li><h3>Wash & Press</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
        <li><h3>No Hidden Cost</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
        <li><h3>Same day availability</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
        <li><h3>Wash & Press</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="how_we-section slideanim">
    <span class="text-center">How we works</span>
    <h2 class="text-center">Your cloth is safe with Zaiyna</h2> 
    <div class="col-xl-3 col-lg-3 float-left how-works">
      <%= image_tag("icons/laundry-basket.png") %>
      <h4>Bag up all your dirty clothes</h4>  
      <p>Call us 24x7 to schedule your pick up</p>
      <div class="count"><span>01</span></div>
    </div> 

    <div class="col-xl-3 col-lg-3 float-left how-works">
      <%= image_tag("icons/delivery-car.png") %>   
      <h4>We pick up your clothes</h4>  
      <p>We would pick up your clothes 
          as per the schedule.</p>
      <div class="count"><span>02</span></div>
    </div> 

    <div class="col-xl-3 col-lg-3 float-left how-works">
      <%= image_tag("icons/delivery-car.png") %>     
      <h4>We clean your clothes</h4>  
      <p>We would declare the articles 
          collected & confirm </p>
      <div class="count"><span>03</span></div>
    </div> 

    <div class="col-xl-3 col-lg-3 float-left how-works">
      <%= image_tag("icons/delivery.png") %>     
      <h4>We deliver clean & folded clothes</h4>  
      <p>Upon delivery we would
          receive payment</p>
      <div class="count"><span>04</span></div>
    </div> 
  </div>
</div>

<div class="container">
  <div class="download-section slideanim">
    <div class="col-xl-6 col-lg-6 float-left">
      <%= image_tag("logo.jpg", alt:"zaiyna", class: "logo-down") %>          
      <h2>Download Our
          Laundry App</h2>
          <a href="#"><%= image_tag("play-store.jpg", alt:"playstore") %></a><a href="#"><%= image_tag("APP-STORE.jpg", alt:"playstore") %>  </a>
    </div>
    <div class="col-xl-6 col-lg-6 float-left">
      <%= image_tag("app-img.jpg", alt:"",  class: "img-fluid") %>         
    </div>
  </div>
</div>
