<!DOCTYPE html>
<html>
   <!-- head partial-->
  <%= render :partial=>"/layouts/common/head" %>
  <body>
    <div class="container-fluid">
      <!-- header partial-->
      <%= render :partial=>"/layouts/common/header" %>
      <div class="container">

        <%= yield %>

      </div>
    </div>
    <!-- Footer -->
    <%= render :partial=>"/layouts/common/footer" %>
    <!-- Load Javascripts -->
    <%= render :partial=>"/layouts/common/javascripts" %>   
  </body>
</html>